body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.primary-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #0056b3;
}

.hidden{
    display: none;
}

.secondary-btn{
    cursor: pointer;
    border: 0px;
    margin-top: 20px;
    align-self: center;
    width: fit-content;
    background-color: white;
    color: black;
}
.secondary-btn:hover{
    text-decoration: underline;
}

.error{
    color: red; 
    align-self: center;
}

